* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.navbar {
  width: 100%;
  padding: 14px 20px;
  background: palegoldenrod;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 5px;
}

#menu-toggle {
  display: none;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
  color: #7a6200;
}
.navbar {
  width: 100%;
  padding: 14px 20px;
  background: #fff8dc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  
}
.nav-logo {
  font-size: 20px; 
  font-weight: 500; 
  color: #8a6200; 
  text-decoration: none;
}

.nav-logo img {
  width: 50px;
  height: 30px;
  object-fit: contain;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 18px;
}

.nav-links a {
  text-decoration: none;
  color: #555;
  font-size: 14px;
}


@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 20px;
    background: lightyellow;
    flex-direction: column;
    padding: 12px;
    border-radius: 12px;
    display: none;
  }

  #menu-toggle:checked + .menu-icon + .nav-links {
    display: flex;
  }

  .nav-links li {
    margin: 8px 0;
  }
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #fffbe6, #ffd966);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
}
.card {
  background: #f5f0e1;
  width: 400px;
  padding: 30px;
  border-radius: 24px;
  text-align: center;
  box-shadow:  5px 10px rgba(0, 0, 0, 0.15);
}
.profile-img {
  width: 140px;
  height: 140px;
  margin: 0 auto 15px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #bfa275;
}
.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1 {
  font-size: 22px;
  margin-bottom: 6px;
}
.role {
  font-size: 14px;
  color: #777;
  margin-bottom: 15px;
}
.about {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}
.buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.buttons a {
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 30px;
  font-size: 14px;
  transition: 0.3s ease;
}

.btn-primary {
  border: 2px solid #d4c09f;
  color:  #bfa275;
  
}

.btn-primary:hover {
  background: #d4c09f;
}
.btn-outline {
  border: 2px solid #d4c09f;
  color: #bfa275;
}
.btn-outline:hover {
  background: #d4c09f;
  color: #bfa275;
}

.info {
  background: #f5f0e1;
  width: 400px;
  height: 670px;
  margin-top: 30px;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.12);
}

.info h2 {
  color: #bfa275;
  margin-bottom: 10px;
  margin-right: 10px;
}

.info p {
  font-size: 15px;
  line-height: 1.4;
  color: #555;
}